name: Build for macOS

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: macos-15
    env:
      GAME_LOCAL_DEPS: "0"
      DEVELOPER_DIR: /Applications/Xcode_26.0.1.app/Contents/Developer
    steps:
      - name: Checkout game
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Install macOS dependencies
        run: |
          brew install assimp

      - name: Clear SwiftPM cache
        run: |
          rm -rf ~/.swiftpm
          rm -rf .build
          rm -rf .swiftpm
          rm -f Package.resolved
          swift package clean

      - name: Show Swift version
        run: swift --version

      - name: Build (debug)
        run: swift build --quiet --enable-experimental-prebuilts

      - name: Build (release)
        run: swift build -c release --quiet --enable-experimental-prebuilts

      - name: Create macOS App Bundle
        run: |
          swift .scripts/make-app-bundle.swift
          ls -la *.app

      - name: Upload macOS App Bundle
        uses: actions/upload-artifact@v4
        with:
          name: Game
          path: *.app
          retention-days: 7
